/*
  SHOPPING CART NUMBER OF ITEMS BOUGHT
*/
.header{
  background:rgb(0, 178, 255);
  color:#fff;
}

#cart_count {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

 /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */
.back_img {
  background-image: url('tree.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.white_font{
  color: white;
}

.black_font{
  color:black;
}
/*
  AUTOFILL SEARCH BAR
*/


.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}



/* FOOD IETM BOXES */
.mypanel{
  display:block;
  height: 350px;
  border: 1px solid #eaeaec;
  margin: -1px 19px 3px -1px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  background-color: #FAFAFA;
  padding:15px;
  border-radius: 5px;
}


/* BASKET PREVIEW */
#cross_preview {
  position: absolute;
  margin-top:-1.20em;
  margin-left:3.3em;
  font-size:20px;
  color:#8b0000;
}
#cross_preview:hover {
  cursor: pointer;
}


/* SCROLLING CHEVRON */

#scroll_top{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #6c757d;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}
#scroll_top:hover {
  background-color: #343a40;
  color: white;
}



.credit-card-div  span {
    padding-top:10px;
        }
.credit-card-div img {
    padding-top:30px;
}
.credit-card-div .small-font {
    font-size:9px;
}
.credit-card-div .pad-adjust {
    padding-top:10px;
}

.credit_card_num{
  width:110%;
}

.order_input_size{
  width:20em;
}

label.error{
  color:#8b0000;
  font-size: 12px;
}

.a4{
  /* width: 210mm;
  height: 297mm; */
  border:1px solid black;
}


.show_border{
  border:1px solid black;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
